/* 全体の中央寄せ */
.form-container {
    max-width: 500px;
    /* フォームの横幅 */
    margin: 50px auto;
    /* 上下に余白を付けて中央に配置 */
    padding: 20px;
    /* border: 1px solid #ddd; */
    /* 枠線 */
    /* border-radius: 10px; */
    /* 角丸 */
    /* background: #f9f9f9; */
    /* 背景色 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* 影 */
    /* text-align: center; */
    /* 見出しを中央寄せ */
}

/* 見出し */
.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* フォーム内の各入力項目 */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    /* ラベルは左寄せ */
}

/* ラベル */
.form-group label {
    /* display: block; */
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.create-form__required {
    background-color: red;
    color: white;
}

/* テキストボックスやテキストエリア */
.form-control,
.form-control-file,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* [戻る]ボタン */
.btn-back {
    background: #e1dfdf;
    color: rgb(5, 5, 5);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* [登録]ボタン */
.btn-submit {
    background: #f5c900;
    color: rgb(5, 5, 5);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn-submit:hover {
    background: #ffa929;
}


/* バリデーションエラー */
.create-form__error-message {
    color: red;
}